#container{
    background-color: coral;
    color: darkred;
    margin: 0 25%;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
}
button{
    font-size: 20px;
    border-radius: 5px;

}
button:hover{
    background-color: brown;
    color: white;
    transition: 0.3s;
}
